<p id="notice"><%= notice %></p>

<% if @mentee.image_file_name %>
  <p><%= image_tag @mentee.image(:medium) %></p>
<% end %>

<p>
  <strong>School name:</strong>
  <%= @mentee.school_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @mentee.grade %>
</p>

<p>
  <strong>Career interests:</strong>
  <%= @mentee.career_interests %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentee.bio %>
</p>

<%= button_to 'Contact Step Up to learn more about me', new_message_path, method: :get %><br/>
