<h1>Find your Mentor</h1>

<%= form_tag(nil, method: :get) do %>
	<%= text_field_tag "query", nil, placeholder: "Search for skill sets, sectors, companies, job titles.", id:"mentor_search_field" %>
	<%= submit_tag 'Search' %>
<% end %>

<div class="mentor_search">
	<h1>Find your Mentor</h1>

	<%= form_tag(nil, method: :get) do %>
		<%= text_field_tag "query" %>
		<%= submit_tag 'Search' %>
	<% end %>
</div>

<% @mentors.each do |mentor| %>
	<div class="row search_results">
		<img src="https://s3.amazonaws.com/stepupnow/profile_pic.jpg">
		<h1>Cynthia Newman</h1>
		<span>President / CEO</span>

		<span class="search_sector">Sector: <b>Accounting</b> </span>
		<span class="search_skills">Skills: <b>Audits, Banking</b> </span>

		<button type="button" class="btn btn-success view_profile_button">view profile</button>
	</div>
<% end %>

<% if @mentors.empty? && @is_search_results %>
  <p>No results found.</p>
<% elsif @mentors.empty? %>
	<p></p>
  <!--<p>No mentors to display.</p> -->
<% end %>