

<div class="mentor_search">
	<h1>Find your Mentor</h1>

	<%= form_tag(nil, method: :get) do %>
		<%= text_field_tag "query" %>
		<%= submit_tag 'Search' %>
	<% end %>
</div>

<% @mentors.each do |mentor| %>
	<div class="row search_results">
	  <% if mentor.image_file_name %>
		  <img src="<%= mentor.image_file_name %>">
		<% else %>
		  <div style="width:100px;height:100px;background-color:gray;float:left;" class="search_results_image"></div>
		<% end %>
		<h1><%= mentor.user.name %></h1>
		<span><%= mentor.job_title %></span>

		<span class="search_sector">Sector: <b><%= mentor.sector %></b> </span>
		<span class="search_skills">Skills: <b><%= mentor.skill_set %></b> </span>

		<a href="<%= mentor_path(mentor) %>">
		  <button type="button" class="btn btn-success view_profile_button">view profile</button>
		</a>
	</div>
<% end %>

<% if @mentors.empty? && @is_search_results %>
  <p>No results found.</p>
<% elsif @mentors.empty? %>
	<p></p>
  <!--<p>No mentors to display.</p> -->
<% end %>