<nav class="navbar navbar-default" role="navigation">
  <div class="container" id="top_container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <%= image_tag asset_path("https://s3.amazonaws.com/stepupnow/logo.jpg"), {width: "256",class:"navbar-header visible-lg visible-md", id:"navbar_logo"} %>
    <%= image_tag asset_path("https://s3.amazonaws.com/stepupnow/logo.jpg"), { width: "160", class:"navbar-header visible-sm", id:"navbar_logo"} %>    
    <div class="navbar-right">
    <%= image_tag asset_path("https://s3.amazonaws.com/stepupnow/connecting_image.jpg"), {width:"300",class:"visible-lg visible-md", id:"navbar_right"} %>
    <%= image_tag asset_path("https://s3.amazonaws.com/stepupnow/connecting_image.jpg"), {width: "300",class:"visible-sm", id:"navbar_right"} %>
    <p class="subheading">CONNECTING WOMEN TO OPPORTUNITIES</p>
  </div>
</nav>
<nav class="navbar navbar-default" role="navigation" id="header-navigation">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Page 2", about_path %></li>
        <li><%= link_to "Page 3", about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if !user_signed_in? %>
            <%= link_to "Sign up", new_user_registration_path, 
              class: "btn btn-default btn-xs",
              role: "button", 
              id:"header_signup_button" %>
            <%= link_to "Sign In", 
              new_user_session_path, 
              class: "btn btn-default btn-xs", 
                role: "button", 
                id:"header_signin_button" %>
          <% else %>
            <%= link_to "Sign Out", 
              destroy_user_session_path, 
              class: "btn btn-default btn-xs", 
                role: "button", 
                id:"header_signout_button",
                method: :delete %>
          <% end %>

          <ul class="dropdown-menu">
            <% unless user_signed_in? %>

              <li><%= link_to "profile", new_user_session_path %></li>
              <li><%= link_to "sign out", new_user_session_path %></li>
            <% else %>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>